<!doctype html>
<html>
<head>
  <title>Welcome</title>
  <script>
      window.addEventListener('load', (event) => {
          document.getElementById('sign-in').onclick = function () {
              window.location.href = '/auth';
          };
      });
      window.addEventListener('load', (event) => {
          document.getElementById('sign-out').onclick = function () {
              window.location.href = '/logout';
          };
      });
      window.addEventListener('load', (event) => {
          document.getElementById('view-profile').onclick = function () {
              window.location.href = '/user_info';
          };
      });
  </script>
  <style>
    body {
      font-family: "helvetica", sans-serif;
      text-align: center;
    }

    .button {
      background-color: blue;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
  </style>
  <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
<h1>Cloud Development HW6 OAuth 2.0 - Welcome</h1>

<div>
  <p>Hello, please sign in with google, and you will be redirected to a page showing your name.</p>
  <p>Pleased be noted that by authenticating your are granting this API access to your email, profile and openid.</p>
  <button id="sign-in" class="button">Sign In with Google</button>
</div>
<div>
  {% if message %}
  <p>{{ message }}</p>
  {% endif %}
  {% if name %}
  <p>You are logged in as {{ name }}, view your profile or log out:</p>
  <button id="view-profile">View Profile</button>
  <button id="sign-out">Sign Out</button>
  {% endif %}
</div>

</body>
</html>
